@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    @apply mb-4 text-6xl font-extrabold
}

h2 {
    @apply mb-4 text-4xl font-bold
}

h3{
    @apply mb-3 text-3xl font-semibold 
}

h4{
    @apply mb-3 text-2xl 
}

h5{
    @apply mb-2 text-xl 
}
h6{
    @apply mb-1 text-lg 
}

p {
}

body, html, .App{
    @apply bg-color
}

.bg-color{
    @apply bg-gray-200    
}

.App {
    @apply min-h-screen;
}

.container {
    @apply mx-auto max-w-lg mt-8
}

.container-center{
    @apply flex flex-col h-screen items-center justify-center
}

.card{
    @apply flex flex-col space-y-2 w-1/2 md:w-1/3 lg:w-1/4 p-4 my-2 bg-white rounded-lg shadow-lg
}

.card-image-container{
    @apply relative
}
.card-image{
    @apply object-cover
}

.cards{
    @apply flex flex-wrap items-center
}

.button{
    @apply button-base bg-spotify-green hover:bg-spotify-green/80 text-white rounded-full 
}

.button-base{
    @apply font-bold py-2 px-6 text-white
}

.menu-item{
    @apply button-base rounded-md m-1
}

.menu-item-deselected{
    @apply menu-item bg-gray-400 hover:bg-gray-400/80
}
.menu-item-selected{
    @apply menu-item bg-spotify-green
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: linear-gradient(to right, bg-spotify-green 0%, bg-spotify-green 100%);
    outline: 0;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0 10px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #555555;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 16px;
    height: 16;
    border-radius: 50%;
    background: #cccccc;
    cursor: pointer;
  }
  
  .slider:focus {
    opacity: 1;
  }



/* implement dark mode somehow*/
@media (prefers-color-scheme: dark) {
 
    .bg-color {
        @apply bg-gray-800
    }

    .App {
        @apply text-white; 
    }

    .card {
        @apply bg-gray-700;
    }

}

